# Build and Release Folders
bin/
bin-debug/
bin-release/
# Build and Release Folders (IntelliJ)
out/

# Other files and folders
.settings/

# I like to keep project files out of my repos. 
# There's always those dependencies that keep sync status out of whack
.idea


