@namespace s "library://ns.adobe.com/flex/spark";

/* FONTS */
@font-face {
    src: url("/assets/fonts/Lato-Regular.ttf");
    fontFamily: latoRegular;
    fontStyle: normal;
    fontWeight: normal;
    embedAsCFF: false;
    advancedAntiAliasing: true;
}

@font-face {
    src: url("/assets/fonts/Lato-Regular.ttf");
    fontFamily: latoRegularCFF;
    fontStyle: normal;
    fontWeight: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

@font-face {
    src: url("/assets/fonts/Lato-Black.ttf");
    fontFamily: latoBlack;
    fontStyle: normal;
    fontWeight: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

@font-face {
    src: url("/assets/fonts/Lato-Italic.ttf");
    fontFamily: latoItalic;
    fontStyle: normal;
    fontWeight: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

/* SPLASH PAGE */


/* FORMS */

.formLabelText
{
    font-family: latoRegularCFF;
    font-size: 24;
    color: #b1b1b1;
}

.formCheckboxText
{
    font-family: latoRegular;
    font-size: 24;
    color: #b1b1b1;
}

.formfieldStyle
{
    font-family: latoRegular;
    font-size: 24;
    backgroundColor: #cacaca;
    borderVisible: false;
    color: #404041;
}

/* List View */

.listItemText
{
    font-family: latoBlack;
    font-size: 36;
    font-weight: bold;
    color: #404041;
    letterSpacing: -3;
}

/* ITEM DETAILS */

.detailTitle
{
    font-family: latoBlack;
    font-size: 36;
    font-weight: bold;
    color: #404041;
}

.detailText
{
    font-family: latoRegularCFF;
    font-size: 24;
    color: #404041;
}

.detailItalicText
{
    font-family: latoItalic;
    font-size: 24;
    color: #404041;
}

.detailNoteStyle
{
    font-family: latoRegular;
    font-size: 24;
    backgroundColor: #cacaca;
    borderVisible: false;
    color: #404041;
}